[Desktop Entry]
Type=Application
Name=Cirrove
Comment=Manage cloud drive connections
Exec=cirrove-desktop
Icon=io.github.Dandiccf.Cirrove
Terminal=false
Categories=Network;
StartupNotify=true
